@charset "UTF-8";

* { background-color: white; } /* 연동 확인용 */

* { color: black; }


.content{
	width: 30%;
	border: 1px solid black;
	margin : 30px 30px;
	padding: 30px 30px;
	flex-direction: column;
}

.등록버튼{
	border: 1px solid white;
}

.result_box1 .book_table {
width: 70px;
	}
	
.content_register{
	margin-bottom: 20px;
}