@charset "UTF-8";

/* 1. 회원가입 입력 구역 */

.signupForm{
	width : 30%;
	margin: 30px auto;
}

.signupForm h3{
	font-family: NeoDunggeunmoPro-Regular;
	text-align: center;	
}

.signupForm p{ text-align: center; }

.signupForm input{ /* 입력 상자 구역 */
	width: 100%;
	height: 45px;
	padding: 20px;
	border: 1px solid #e8e8e8;
	border-radius: 15px;
	
}

.title{ font-size: 13px; margin-bottom: 10px; margin-top: 10px; } /* 입력 제목 */

.checkconfirm{ color: #CD2E57; } /* 유효성검사 결과 표시 구역*/

.emailbox{ display : flex; }

.emailbox button, .authbox button{
	width : 20%;
	background-color : #b69fdf;
	color : white;
	font-size: 12px;
	border: none;
	border-radius : 15px;
	margin-left: 20px;
}

.authbox{ /* 인증 구역 */
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.timebox{/* 인증 시간 구역 */
	width: 30%;
	padding: 10px;
}

.pimgbox{/* 첨부파일 구역 */
	display: flex;
	align-items: center;
}

.preimg{ /* 첨부파일 이미지 미리보기 구역 */
	width: 100px;
	height: 100px;
	border: 1px solid #e8e8e8;
	border-radius: 50%;
}

/* 회원가입 버튼 */
.signupbtn{
	width: 100%;
    background-color: 	#b69fdf; color: white;
    border: none;		border-radius: 15px;
    margin: 20px 0px;	 padding: 15px;
    font-size: 15px; 	font-weight: bold;
    
}























