@charset "UTF-8";

.t_name
{
	width: 700px;
	border-top: solid 5px;
}

.text1
{
	width: 498px;
	height: 25px;
}

textarea {
	width: 500px;
	height: 100px;
	resize: none;
}

.btn {
	text-align: right;
}

.btn input{
	padding: 5px 20px;
	margin: 20px 5px;
}

.col1, .col2
{
	border-bottom: dotted 1px #eeeeee;
	padding: 7px;
}