@charset "UTF-8";

h4{
	text-align: center;
}

.user{
	width: 1000px;
	margin: 0 auto;
	border-bottom: solid 3px red;
	border-top: solid 3px red;
	padding-top: 20px;
	padding-bottom: 20px;
}

span {
	display: inline-block;
	margin-left: 1100px;
	margin-top: 20px;
}